
* {
  box-sizing: border-box;
}
h2{
  color: #969696;
  text-indent: 150px;
  float: left;
  width: 33.33%;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg");
  background-repeat: round;
  background-attachment: fixed;
}

img {
   opacity: 0.6;
   float: left;
   width: 33.33%;
   padding: 10px;
   height: 700px;
}​
